<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Yoolk Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Le styles -->
  <%= stylesheet_link_tag    "yoolk", :media => "all" %>
  <%#= stylesheet_link_tag    "yoolk/styleguide/docs", :media => "all" %>
  <%#= stylesheet_link_tag    "yoolk/styleguide/google-code-prettify/prettify", :media => "all" %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "yoolk/styleguide/html5shiv" %>
  <![endif]-->
  
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/yoolk/styleguide/header' %>

  <div class="container">
    <%= yield %>
  </div>

  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_include_tag "jquery" %>
  <%#= javascript_include_tag "bootstrap-scrollspy" %>

  <%#= javascript_include_tag "yoolk/styleguide/google-code-prettify/prettify" %>
</body>
</html>
