<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <%= render 'layouts/yoolk_styleguide/head' %>
    <!-- Place anything custom after this. -->
  </head>
  <body>

    <!-- Docs master nav -->
    <%= render 'layouts/yoolk_styleguide/nav_main' %>

    <!-- Docs page layout -->
    <div class="bs-header">
      <div class="container">
        <h1><%= yield :title %></h1>
        <p><%= yield :page_description %></p>
      </div>
    </div>

    <!-- Callout for the old docs link -->
    <%= render 'layouts/yoolk_styleguide/online_bs_docs' %>

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-lg-3">
          <div class="bs-sidebar">
            <ul class="nav bs-sidenav">
              <%= yield :sidenav %>
            </ul>
          </div>
        </div>
        <div class="col-lg-9">
          <%= yield %>
        </div>
      </div>
    </div>

    <!-- Footer
    ================================================== -->
    <%= render 'layouts/yoolk_styleguide/footer' %>
    
  </body>
</html>
