<%= content_for :sidenav do %>
  <li>
    <a href="#dot-leaders">Dot Leaders</a>
    <ul class="nav">
      <li><a href="#dot-leaders-default">Default dot leaders</a></li>
      <li><a href="#dot-leaders-indicator">Dot leaders with indicator</a></li>
      <li><a href="#dot-leaders-highlight">Dot leaders with highlight</a></li>
      <li><a href="#dot-leaders-none-value">Dot leaders without value</a></li>
    </ul>
  </li>
<% end %>

<!-- Dot Leaders
================================================== -->
<div class="bs-docs-section">
  <div class="page-header">
    <h1 id="dot-leaders">Dot Leaders</h1>
  </div>
  <%= render 'yoolk_styleguide/components/dot_leaders/default' %>
  <h2>Options</h2>
  <%= render 'yoolk_styleguide/components/dot_leaders/indicator' %>
  <%= render 'yoolk_styleguide/components/dot_leaders/highlight' %>
  <%= render 'yoolk_styleguide/components/dot_leaders/none_value' %>
</div>
