<%= content_for :sidenav do %>
  <li>
    <a href="#panels">Panels</a>
    <ul class="nav">
      <li><a href="#panels-heading">Panel with heading</a></li>
      <li><a href="#panels-heading-right">Panel with heading right</a></li>
      <li><a href="#panels-none">Panel with none</a></li>
      <li><a href="#panels-form">Panel with form</a></li>
      <li><a href="#panels-table">Panel with table</a></li>
      <li><a href="#panels-action">Panel with action</a></li>
    </ul>
  </li>
<% end %>

<!-- Panels
================================================== -->
<div class="bs-docs-section">
  <div class="page-header">
    <h1 id="panels">Panels</h1>
  </div>
  <%= render 'yoolk_styleguide/components/panels/heading' %>
  <%= render 'yoolk_styleguide/components/panels/heading_right' %>
  <%= render 'yoolk_styleguide/components/panels/none' %>
  <%= render 'yoolk_styleguide/components/panels/form' %>
  <%= render 'yoolk_styleguide/components/panels/table' %>
  <%= render 'yoolk_styleguide/components/panels/action' %>
</div>
