<div class="row">
  <div class="span4">
    <ul class="nav nav-list">
      <li><a href="#dotted-list">Dotted List</a></li>
      <li><a href="#pagination">Pagination</a></li>
      <li><a href="#button-pager">Button Pager</a></li>
      <li><a href="#arrow-links">Arrow Links</a></li>
      <li><a href="#tags">Tags</a></li>
    </ul>
  </div>
  <div class="span20">
    <%= render 'dotted_list' %>
    <%= render 'pagination' %>
    <%= render 'button_pager' %> 
    <%= render 'arrow_links' %>
    <%= render 'tags' %>
  </div>
</div>