<%= content_for :title do %>
  Components
<% end %>

<%= content_for :page_description do %>
  Dozens of reusable components built to provide iconography, dropdowns, navigation, alerts, popovers, and much more.
<% end %>

<!-- <li><a href="#dotted-list">Dotted List</a></li>
<li><a href="#pagination">Pagination</a></li>
<li><a href="#thumbnails">Thumbnails</a></li>
<li><a href="#button-pager">Button Pager</a></li>
<li><a href="#arrow-links">Arrow Links</a></li>
<li><a href="#tags">Tags</a></li> -->
<%= render 'navs' %>
<%= render 'dotted_list' %>
<%= render 'panels' %>

<%#= render 'pagination' %>
<%#= render 'thumbnails' %>
<%#= render 'button_pager' %> 
<%#= render 'arrow_links' %>
<%#= render 'tags' %>
